# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.mypy_cache/
.pytest_cache/
htmlcov/
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
*.swp
*.bak
*.swo

# Environment variables
.env
.flaskenv

# Database files
*.sqlite3
*.db
*.db-journal

# Logs
*.log
logs/

# Build artifacts
dist/
build/
*.egg-info/

# Uploaded files (if applicable)
media/
uploads/